.dropshipping_product_container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    width:260px;
    height:450px;
}

.dropshipping_img_responsive {
    width: 100%;
    height: auto;
}

.dropshipping_product_name_div{
  width:90%;
  height:auto;
  border-left-style: solid;
  border-left-color: #FFB200;
  border-left-width: 5px;
  font-size:20px;
  font-weight: bold;
  margin-top:3px;
  margin-left:3px;
}

.product_name{
    font-size:18px;
}

.amazon_icon{
    width:18px;
    height:18px;
}

.dropshipping_product_button_container{
  margin-top:3px;
  width:100%;
  position: absolute;
  bottom:0px;
}

.aliexpress_button{
    height:50px;
    width:100%;
    color:#E52E04;
    background-color: #FE9900;
}

.reason_button{
    height:50px;
    width:100%;
    color:#ffffff;
    background-color: #E52E04;
}

.aliexpress_button:hover {
    background-color: #ffffff;
    color: black;
}

.reason_button:hover {
    background-color: #ffffff;
    color: black;
}
